/***********************************************************************************************************
HTML y BODY */
html{
    padding: 20px 0 20px 0;
    background-color: #bfbfbf;
    font-family: Arial, sans-serif;
}
body{
    width: 1000px;
    background-image: repeating-linear-gradient(rgb(214, 210, 214), rgb(255, 255, 255), rgb(255, 255, 255));
    margin: 0 auto 0 auto;
    padding: 0;
    box-shadow: 5px 0px 5px #8c8c8c, -5px 0px 5px #8c8c8c;
}
/***********************************************************************************************************
FORM */
form{
    padding: 20px 0 0 0;
}

form>div{
    padding: 20px 150px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
form div div p{
    font-size: 13px;
}
form div div p:first-child{
    width: 180px;
}
form>div:last-child{
    justify-content: center;
}
.vertical{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    text-align: center;
    background-color: #333;
    border: 1px solid #555;
    color: white;
}
.vertical>li{
    display: flex;
    padding: 8px 16px;
    text-decoration: none;
    text-align: center;
}
.vertical>li:first-child{
    background-color: #4CAF50;
}
.vertical>li:last-child{
    border-bottom: none;
}
.vertical>li:nth-child(n+2):hover{
    background-color: #5480af;
    color: white;
    cursor: pointer;
}

.horizontal {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border: 1px solid #555;
    color: white;
}
.horizontal>li{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.horizontal>li:hover {
    background-color: #5480af;
    cursor: pointer;
}
.horizontal>li:first-child{
    background-color: #4CAF50;
}
.horizontal>li:nth-child(n+2):hover{
    background-color: #5480af;
    color: white;
}

.botonCerrar{
    position: absolute;
    bottom: 40px;
    left: 120px;
}
input[type="button"]{
    height: 25px;
    text-align: center;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
.particular{
    font-family: Calibri, sans-serif;
    background: none;
    border: 0;

}
.particular>li:first-child{
    background-color: #192666;
}
.particular li{
    background-color: #c31c1e;
    border-radius: 5px 50%;
}
.creativa{
    font-family: Arial, Serif;
    border: 4px solid #652458;
}
.creativa li{
    background-color: #ff5cdf;
    color: #e9e779;
    border: 0;
}
.creativa li:first-child{
    background-color: #853074;

}
/***********************************************************************************************************
FOOTER */
footer{
    background-color: #333;
    color: #8c8c8c;
    display: block;
    margin: 20px 0 0 0;
    padding: 30px 70px 20px 70px;
    font-size: small;
}
footer div{
    display: flex;
    justify-content: space-between;
    font-family: Calibri, sans-serif;
}
footer div div{
    text-align: center;
    display: block;
}
footer div>p:first-child{
    margin-bottom: 2px;
    font-weight: bold;
    border-bottom: 1px solid #444444;
}
footer div>p:last-child {
    margin-top: 2px;
}