html{
    background-color: #bfbfbf;
    letter-spacing: 0.3px;
}
body{
    width: 1000px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0;
    box-shadow: 5px 0px  5px #8c8c8c, -5px 0px  5px #8c8c8c;
}
header{
    background-color: #333;
    text-align: center;
    padding: 10px 0 10px 0;
    color: #55affd;
    width: 100%;
    font-family: Verdana, sans-serif;
}
h6{
    color: #8c8c8c;
}
body>div{
    padding: 20px 20px 20px 40px;
}
div h1:first-child{
    color: #028283;
}
div h1:nth-child(n+2){
    color: #0201fe;
}
h2:nth-child(n+5){
    color:#b6aa42
}
table{
    table-layout:fixed;
    padding: 0 0 0 10px;
    border-collapse: collapse;
    width: 60%;
    font-size: larger;
    margin-left: 30px;
    text-align: left;
    font-weight: bold;
}
table td, table th{
    border: 2px solid #333;
    padding: 8px;
}
table th{
    padding: 12px 0 12px 5px;
    color: #faba01;
}
caption{
    color: #0201fe;
    font-weight: bold;
}
th:nth-child(2n){
    text-align: center;
}

tr:last-child>td:nth-child(2n){
    text-align: center;
}
td:first-child{
    color: #ffb82b
}
tr:nth-child(n+1){
    color: #0e8d0b;
}
tr:last-child{
    color: #fb2a30;
}
.rojo{
    color: #fb2a30;
}
.morado{
    color: #9334b8;
}
.verde{
    color: #118607;
}
.lila{
    color: #f615fe;
}
.amarillo{
    color: #fce24e;
}
.fuerte{
    font-weight: bold;
}
.azul{
    color: #0201fe;
    font-style: italic;
}
.subrayado{
    text-decoration: underline;
}

footer{
    background-color: #333;
    color: #8c8c8c;
    display: block;
    margin: 20px 0 0 0;
    padding: 30px 40px 5px 40px;
    font-size: x-small;;
    font-family: Verdana, sans-serif;
}
footer div{
    display: flex;
    justify-content: space-between;
    font-family: Calibri, sans-serif;
}
footer div div{
    text-align: center;
    display: block;
}
footer div>p:first-child{
    margin-bottom: 2px;
    font-weight: bold;
    border-bottom: 1px solid #444444;
}
footer div>p:last-child{
    margin-top: 2px;
}