/**********************************************************************************************************************
Hoja de estilos CSS                                                                                  Autor: DaVeGaliSoT
***********************************************************************************************************************/

/* PANEL DE ADMINISTRACION */

.m_left2{
    margin-left: 118.7px;
}

/**********************************************************************************************************************
USUARIOS/INDEX, USUARIOS/EDITAR, NOTICIAS/INDEX & NOTICIAS/LISTADO */

.inicioSesion{
    width: 150px;
}
.borde{
    box-shadow: #8c8c8c 1px 1px 15px;
    border-radius: 5px;
}
.borde *{
    font-size: 1em;
}
.cabecera_listado{
    font-weight: bold;
    margin: 0;
}
.user{
    font-size: 100px;
    margin: 10px;
    color: #b0b0b0;
}
.lista_actividad div:nth-child(odd){
    background-color: #dededf;
}
.widthSmall{
    width: 300px;
}
.widthStandard{
    width: 500px;
}
.tituloDatos{
    padding: 20px 20px 0 20px;
    font-weight: bold;
    font-size: 1.2em;
}
input[type="text"],
input[type="password"]{
    width: 100%;
}
select {
    height: 27px;
}
/**********************************************************************************************************************
LISTA USUARIOS & LISTA NOTICIAS COMUN */

.containerUser{
    width: 150px;
}
.containerUser div a:first-child{
    color: #000;
}
.containerUser a{
    font-size: 1.4em;
}
.separado{
    margin: 20px;
}
.item_listado{
    padding: 10px;
}
.item_listado *{
    font-size: 24px;
}
.iconos i{
    font-size: 3em;
}
.linkPost{
    text-decoration: none;
    /*color: #000;*/
}
.imgNoticia{
    margin: 5px 0 0 0;
    width: 85px;
    border-radius: 5%;
}

/* ICONOS ACTIVO */

.verde{
    color: #28b776;
}
.rojo{
    color: #ad211f;
}
.invertido{
    background: #333;
    color: #fff;
}
.padding{
    padding: 0 20px 20px 20px;
}

.mensaje_borrar{
    font-size: 0.6em;
    padding: 0.3em;
    text-align: right;
    color: #856404;
    background-color: #fff3cd;
    border: 1px solid #856404;
    border-radius: 5px;
    display: none;
}

.mensaje_borrar a,
.mensaje_borrar a:hover,
.mensaje_borrar a.boton_borrar,
.mensaje_borrar a:hover.boton_borrar{
    color: #856404;
    text-decoration: underline;
    padding: 0 0.2em;
    cursor: pointer;
}

/**********************************************************************************************************************
LISTA NOTICIAS */

.separado_superior{
    margin-top: 40px;
}
.descripcion{
    font-size: 14px;
}

/**********************************************************************************************************************
IMAGEN */

.imagen{
    margin: 2em 0 0 0;
    width: 500px;
    /*height: 250px;*/
}

.imagen_mini img{
    width: 100%;
    padding: 0.5em 1em 0.5em 0;
}