/**********************************************************************************************************************
Hoja de estilos CSS                                                                                  Autor: DaVeGaLiSoT
***********************************************************************************************************************/
/* TRABAJA CON NOSOTROS */


.section-trabaja-con-nosotros p{
    margin: 0;
    color: var(--color-parrafos);
}
.tcnh1 {
    font-size: 100px;
}