/**********************************************************************************************************************
Hoja de estilos CSS                                                                                  Autor: DaVeGaLiSoT
***********************************************************************************************************************/
/* TRABAJA CON NOSOTROS */

.section-trabaja-con-nosotros p{
    margin: 0;
    color: var(--color-parrafos);
}
.section-trabaja-con-nosotros ul li:before{
    content: "·";
    font-weight: bolder;
    font-size: larger;
    margin-right: 5px;
    color: var(--corporate-blue);
}
.tcnh1 {
    font-size: 100px;
}
#trabaja-con-nosotros{
    background-color: rgb(233, 233, 233);
    padding: 10px 30px 30px 30px;
    border-radius: 10px;
}
.form-info{
    font-size: 14px;
    padding: 5px 0 0 3px;
    font-style: italic;
    font-weight: bold;
}
.form-check-input{
    transform: scale(1.4);
    
}
.form-check-label{
    font-family: "Raleway", sans-serif;
    font-weight: bold;
}
.mi-input{
    display: flex;
    flex-direction: column;
    margin: 25px 0 0 0;
    font-family: "Raleway", sans-serif;
    font-weight: bold;
    min-width: 400px;
}
.mi-primer-input{
    margin: 10px 0 0 0;
}
.mi-input input, textarea{
    border-radius: 8px;
    padding-left: 5px;    
}
textarea{
    min-height: 112px;
}
.mi-input input[type=file]{
    border-radius: 0;
    padding-left: 0;
}
.mi-input-cv{
    margin-top: 33px;
}
input:focus, textarea:focus{
    outline: 1px solid var(--corporate-blue);
}
.mi-input-radio{
    flex-direction: row;
    align-items: center;
    margin: 30px 0 0 0;
}
.btn-enviar{
    margin: 30px 0 0 0;
    display: flex;
    justify-content: flex-end;
}
.btn-enviar .btn{
    padding-left: 60px;
    padding-right: 60px;
    font-size: larger;
    font-weight: bold;
    border-radius: 8px;
    background-color:var(--corporate-red);
    border: 1px solid var(--corporate-red);
}
label{
    margin: 0;
}
.texto-a-justificar p, .texto-a-justificar li{
    text-align: justify;
}
.section-trabaja-con-nosotros p.error{
    margin: 0 0 0 5px;
    height: 0;
    color: red;
    font-size: 14px;
    font-weight: bold;
    display: none;
}
.section-trabaja-con-nosotros p.error-check, .section-trabaja-con-nosotros p.error-attachment{
    margin: 0;
}