
body>h1{
    text-align: center;
}
.mainDiv{
    text-align: center;
}
.icon{
    height: 80px;
}
.flag{
    margin: 0 5px;
    width: 30px;
}
.divTabla{
    display: flex;
    justify-content: center;
}
h2{
    margin: 0;
}
table{
    table-layout:fixed;
    padding: 0 0 0 10px;
    border-collapse: collapse;
    word-wrap: break-word;
    margin-top: 30px;
}
table td, table th{
    border: 1px solid #ddd;
    padding: 8px;
}
table tr:nth-child(even){
    background-color: #f2f2f2;
}
table tr:hover{
    background-color: #ddd;
}
table th{
    padding: 12px 0 12px 5px;
    text-align: left;
    background-color: lightseagreen;
    color: white;
}