html{
    background-color: #bfbfbf;
    font-family: Calibri, Verdana, sans-serif;
    letter-spacing: 0.3px;
}
body{
    width: 1000px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0;
    box-shadow: 5px 0px  5px #8c8c8c, -5px 0px  5px #8c8c8c;
}
header{
    background-color: #333;
    text-align: center;
    padding: 10px 0 10px 0;
    color: #55affd;
    width: 100%;
}
article{
    border: 1px lightgray solid;
    margin: 30px 50px 30px 50px;
    padding: 0 10px 0 10px;
    box-shadow: 3px 0px 10px #8c8c8c, -3px 0px 10px #8c8c8c;
    background-color: rgba(208, 208, 208, 0.76);
    border-radius: 5px;
}
article:hover{
    filter: brightness(120%);
    border: 1px black solid;
}
h3{
    padding: 5px 5px 5px 10px;
}
article h4{
    margin: 20px 30px 10px 60px;
    padding: 5px 5px 5px 5px;
    clear: both;
    box-shadow: 0px 3px 10px #8c8c8c;
}
article > h5{
    padding: 0 35px 0 65px;
}
div h4{
    margin: 25px 0 0 0;
    padding: 5px 5px 5px 5px;
    box-shadow: 0px 3px 10px #8c8c8c;

}
h5{
    margin: 5px 0 20px 5px;
}
img{
    width: 350px;
    box-shadow: 3px 0px 10px #8c8c8c, -3px 0px 10px #8c8c8c;
}
.divIzq{
    margin: 0 0 0 60px;
    max-width: 45%;
    float: left;
}
.divDcha{
    max-width: 45%;
    float: left;
}
figcaption{
    font-size: small;
    width: 350px;
    padding: 0 0 0 5px;
}
figcaption:after{
    content: "(fuente: FILMAFFINITY)";
    color: #999999;
    font-size: xx-small;
}
footer{
    background-color: #333;
    color: #8c8c8c;
    display: block;
    margin: 20px 0 0 0;
    padding: 30px 40px 5px 40px;
    font-size: x-small;
}
footer div{
    display: flex;
    justify-content: space-between;
    font-family: Calibri, sans-serif;
}
footer div div{
    text-align: center;
    display: block;
}
footer div>p:first-child{
    margin-bottom: 2px;
    font-weight: bold;
    border-bottom: 1px solid #444444;
}
footer div>p:last-child{
    margin-top: 2px;
}