html{
    background-color: #bfbfbf;
    font-family: Calibri, Verdana, sans-serif;
    letter-spacing: 0.3px;
}
body{
    width: 1000px;
    background-color: #ffffff;
    margin: 0 auto;
    padding: 0;
    box-shadow: 5px 0px  5px #8c8c8c, -5px 0px  5px #8c8c8c;
}
header{
    background-color: #333;
    padding: 10px 0 10px;
    color: #55affd;
    width: 100%;
}
header div{
    display: flex;
}
h1{
    padding: 0 0 0 15px;
    text-shadow: 4px 3px 6px black;
}
header div .logo{
    position:relative;
    top:10px;
    width:60px;
    height:60px;
    margin: 0 0 0 20px;
}
body .navbar{
    overflow: hidden;
    background-color: #333;
    box-sizing: border-box;
}

body .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 15px;
    border-radius: 20px;
}

.navbar a:hover {
    background: #55affd;
    color: #333;
}
footer{
    background-color: #333;
    color: #8c8c8c;
    display: block;
    margin: 20px 0 0 0;
    padding: 30px 40px 20px 40px;
    font-size: x-small;
}
footer div{
    display: flex;
    justify-content: space-between;
    font-family: Calibri, sans-serif;
}
footer div div{
    text-align: center;
    display: block;
}
footer div>p:first-child{
    margin-bottom: 2px;
    font-weight: bold;
    border-bottom: 1px solid #444444;
}
footer div>p:last-child{
    margin-top: 2px;
}