/**********************************************************************************************************************
Hoja de estilos CSS                                                                       Autor: David Galiana Sotillo
***********************************************************************************************************************/

@import url('https://fonts.googleapis.com/css?family=Raleway|Slabo+27px');

/**********************************************************************************************************************
HTML */

html{
    background: #333;
    margin: 20px auto;
    max-width: 1400px;
    letter-spacing: 0.3px;
}

/**********************************************************************************************************************
HEADER */

header{
    background: #000;
    padding: 5px 10px;
}

header>div{
    display: flex;
    margin: 10px;
}

header>div>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header h1{
    font-size: 4em;
    margin: 0;
    padding: 5px 15px;
    color: #24c150;
    text-shadow: 0.5px 0.5px 2px white;
}

header h4{
    font-size: 1.6em;
    margin: 0;
    padding: 5px 30px;
    color: #24c150;
}

header h1{font-family: 'Raleway', sans-serif}

header h4{
    padding-left: 15px;
    font-family: 'Slabo 27px', serif;

}
header img{width: 120px}

/**********************************************************************************************************************
BODY */

body{background: #c6c6c6}

body>div{
    display: flex;
    padding: 5px;
}

body>div>div{display: flex}

/**********************************************************************************************************************
NAV */

nav{
    background: #000;
    font-family: "Slabo 27px", serif;
    font-size: 1.5em;
    color: #24c150;
    text-align: center;
    margin-bottom: 5px;
}

nav span{
    display: none;
    font-weight: bold;
    cursor: pointer;
}

nav div{
    display: flex;
    justify-content: center;
}

nav ul{
    margin: 0;
    list-style: none;
    display: flex;
    padding: 0;
}

nav li{
    padding: 5px 10px;
    border: 1px solid #000;
}

nav li:hover{
    background: #24c150;
    color: #fff;
    border: 1px solid #24c150;
    cursor: pointer;
}

/**********************************************************************************************************************
SECTION, ARTICLE */

section{
    width:70%;
    background: #aaaaaa;
    margin: 0 5px 0 0;
}

article{
    width: 46.2%;
    height: 380px;
    float: left;
    background: #c6c6c6;
    padding: 5px 10px;
    margin: 5px;
}

article img{
    padding-top: 5px;
    width: 140px;
}

article>div{
    display: flex;
    height: 200px;
}

article>div>div{
    display: flex;
    flex-direction: column;
    padding: 5px 10px;
}

article h1{
    font-size: 1.8em;
    margin: 0;
}

article h4{
    font-size: 1.2em;
    margin: 0;
}

article h1{
    font-family: "Raleway", sans-serif;
}

article h4{
    font-family: "Slabo 27px", serif;
}

article p{
    font-family: "Slabo 27px", serif;
}

/**********************************************************************************************************************
ASIDE */

aside{
    width: 30%;
    background-color: #aaaaaa;
    text-align: right;
}

aside>div{padding: 5px 10px}

aside>div:last-child img{width: 100%}

aside input[type="text"]{width: 78%}

aside input[type="text"]::placeholder{
    color: #8c8c8c;
}

aside button{width: 18%}

aside .banner img{
    padding-top: 10px;
    padding-bottom: 10px;
}

/**********************************************************************************************************************
FOOTER */

footer{
    background: #aaaaaa;
    margin-top: 5px;
    padding: 5px 30px;
    font-family: "Raleway", sans-serif;
}

footer p:first-child:before{
    content: "Clase: ";
}

footer p:last-child:before{
    content: "Autor: ";
}

/**********************************************************************************************************************
MEDIAQUERIES */

/**********************************************************************************************************************
Pantallas grandes (desktops de menos de 1200px) */

@media (max-width: 1199.98px) {

    html{
        padding: 0 1em;
    }

    section{
        width:60%;
    }

    aside{
        width: 40%;
    }

    article{
        width: 44.2%;
    }

    article img{
        width: 100px;
        height: 120px;
    }

    article h1{
        font-size: 1.4em;
    }

    article h4{
        font-size: 1em;
    }

    article p{
        font-size: 0.8em;
    }
}

/**********************************************************************************************************************
Pantallas medianas (tablets de menos de 992px) */

@media (max-width: 991.98px) {

    section{
        width:50%;
    }

    aside{
        width: 50%;
    }

    article{
        width: 90%;
        height: 420px;
    }
    article p{
        font-size: 1.2em;
    }

}

/**********************************************************************************************************************
Pantallas pequeñas (móviles en landscape de menos de 768px) */

@media (max-width: 767.98px) {

    header>div{
        display: inline-block;
        text-align: center;
    }
    header>div>div:first-child{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    header img{
        height: 100%;
    }
    header h1{
        font-size: 2em;
    }
    header h4{
        font-size: 0.8em;
    }
    nav span{
        display: block;
        color: #fff;
        background: #24c150;
        padding: 5px 0;
    }
    nav ul{
        display: none;
    }
    section{
        width: unset;
    }
    article{
        height: 420px;
        width: unset;
    }


}

/**********************************************************************************************************************
Pantallas muy pequeñas (móviles en portrait de menos de 576px) */

@media (max-width: 575.98px) {

}