/**********************************************************************************************************************
Hoja de estilos CSS                                                                       Autor: David Galiana Sotillo
***********************************************************************************************************************/
html{
    background-color: #bfbfbf;
    font-family: Calibri, Verdana, sans-serif;
    letter-spacing: 0.3px;
}
body{
    width: 1000px;
    background-color: white;
    margin: 0 auto;
    padding: 0;
    box-shadow: 5px 0px  5px #8c8c8c, -5px 0px  5px #8c8c8c;
}
header{
    background-color: #333;
    padding: 5px 0 5px;
    color: #55affd;
    width: 100%;
    text-align: center;
}
body div{
    padding: 0 20px 0 20px;
}


body>div>div>p{
    padding: 0 0 0 10px;
}
div fieldset{
    margin:-20px 60px 0 20px;
}
legend{
    padding: 0 5px 0 5px;
    font-weight: bold;
}
body>div>div{
    margin: 40px 0 0 0;
}
h3{
    padding: 5px 10px 5px 10px;
    border-radius: 3px;
    box-shadow: 3px 0px 10px #8c8c8c, -3px 0px 10px #8c8c8c;

}
h6{
    color: #888888;
    padding: 0 20px 0 25px;
}
table{
    table-layout:fixed;
    padding: 0 0 0 10px;
    border-collapse: collapse;
    width: 90%;
    font-size: 11px;
    word-wrap: break-word;
    margin-left: 30px;
}
table td, table th{
    border: 1px solid #ddd;
    padding: 8px;
}
table tr:nth-child(even){
    background-color: #f2f2f2;
}
table tr:hover{
    background-color: #ddd;
}
table th{
    padding: 12px 0 12px 5px;
    text-align: left;
    background-color: lightseagreen;
    color: white;
}
.tabla th:nth-child(n+2){
    padding-left:0;
}
.tabla{
    width: 40%;
}
.tabla td:nth-child(n+2), .tabla th:nth-child(n+2){
    text-align: center;
}
.practicaCalendario{
    display: flex;
    flex-wrap: wrap;
}
.tablaCalendario{
    width: 250px;
}


footer{
    background-color: #333;
    color: #8c8c8c;
    display: block;
    margin: 20px 0 0 0;
    padding: 30px 40px 15px 40px;
    font-size: smaller;
}
footer div{
    display: flex;
    justify-content: space-between;
    font-family: Calibri, sans-serif;
    padding: 0 20px 0 20px;
    font-size: xx-small;
}
footer div div{
    text-align: center;
    display: block;
}
footer div>p:first-child{
    margin-bottom: 2px;
    font-weight: bold;
    border-bottom: 1px solid #444444;
}
footer div>p:last-child{
    margin-top: 2px;
}